body{
    background-image: url(../img/fundo.jpg) ;
    background-size: cover;
    background-repeat: no-repeat;
}

input{
    border-radius: 10px;
    background-color: rgb(167, 167, 167);
    border: 3px solid rgb(0, 0, 0);
    padding: 9px 28px;
    
    
}

input:hover {
    background-color: rgb(101, 99, 99);

  }

.game input{
    margin: auto;
}

.game{
    text-align: center;
}
#game-card{
    text-align: center;
}

#game-card iframe{
    background-color: rgb(255, 255, 255);
}