body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

/*Scrum Master*/
.master {
    resize: none;
    background: rgba(0, 0, 0, 0.562);
    border: 1px solid red;
    padding-bottom: 10px;
    justify-content: center;
    margin: auto;
    line-height: 55px;
    margin-top: 20px;
    color: #ffffff;
    font-size: 23px;
    padding-left: 10px;
    width: 780px;
}

/*Design*/
.design {
    resize: none;
    background: rgba(0, 0, 0, 0.562);
    border: 1px solid red;
    padding-bottom: 10px;
    justify-content: center;
    margin: auto;
    line-height: 55px;
    margin-top: 20px;
    color: #ffffff;
    font-size: 23px;
    padding-left: 10px;
    width: 789px;
    border-radius: 12px;
}

/*Programador*/
.programador {
    resize: none;
    background: rgba(0, 0, 0, 0.562);
    border: 1px solid red;
    padding-bottom: 10px;
    justify-content: center;
    margin: auto;
    line-height: 55px;
    margin-top: 20px;
    color: #ffffff;
    font-size: 23px;
    padding-left: 10px;
    width: 790px;
    padding-right: 5px;
    border-radius: 12px;
}